
/* ======================================================================
   Component imports (subpastas)
   ====================================================================== */

@use "./components/alerts/alerts" as *;
@use "./components/cep/cep" as *;
@use "./components/chips/chips" as *;
@use "./components/clients/client" as *;
@use "./components/config/config" as *;
@use "./components/forms/forms" as *;
@use "./components/finance/finance" as *;
@use "./components/orders/neworder" as *;
@use "./components/orders/orderform-enhanced" as *;
@use "./components/orders/order" as *;
@use "./components/orders/orders" as *;
@use "./components/orders/orderdetails" as *;
@use "./components/pizza/pizza" as *;
@use "./components/products/products" as *;
@use "./components/people/people" as *;
@use "./components/customer-history-modal" as *;
@use "./components/map-link" as *;



