
/* ======================================================================
   Component imports (subpastas)
   ====================================================================== */

@import "./components/alerts/alerts";
@import "./components/cep/cep";
@import "./components/chips/chips";
@import "./components/clients/client";
@import "./components/config/config";
@import "./components/forms/forms";
@import "./components/finance/finance";
@import "./components/orders/neworder";
@import "./components/orders/order";
@import "./components/orders/orders";
@import "./components/orders/orderdetails";
@import "./components/pizza/pizza";
@import "./components/products/products";
@import "./components/people/people";
